{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":12,"column":10},"action":"insert","lines":["**/.terraform/*","","*.tfstate","*.tfstate.*","","crash.log","","","override.tf.json","*_override.tf","*_override.tf.json","","/Terraform"],"id":1}],[{"start":{"row":12,"column":9},"end":{"row":12,"column":10},"action":"remove","lines":["m"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":12,"column":9},"end":{"row":12,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1681874426376,"hash":"80a5ed99281fd2588d0c1a4777ff4e25bdce008d"}